body {
   background-color: #E76D83;
   font-family: 'Open Sans', sans-serif;
   text-align: center;
}
.centre_block {
   border: 1px solid#271702;
   width: 700px;
   background-color:#271702;
   margin: auto;
}
h1 {
   color:#5f7eaa;
   font-size: 35px;
}
h2 {
   color: #FFC0CB;
   font-size: 25px;
}
p,dl {
   color: #DB7093; 
   font-size: 25px;
}
dd {
   text-decoration: none;
   font-size: 18px; 
}
